#calculator-logic-container {
    height: 85%;
    width: 90%;
    margin: auto;
}
#calculator-screen {
    height: 47px;
    width: calc(100% - 12px);
    box-shadow: inset 2px 2px 1px black, 2px 2px 2px antiquewhite;
    background-color: white;
    margin-bottom: 24px;
    padding: 4px 6px 3px 6px;
}
.calculator-input-result {
    font-size: 20px;
}