#pim-message-component {
    display: flex;
    flex-direction: column;
    padding: 6px 0;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}
#messages {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 1px solid black;
    box-shadow: 2px 2px 3px #383735, inset 2px 2px 3px #383735;
    margin: 8px auto;
    height: 70%;
    width: calc(100% - 30px);
    padding: 6px;
    overflow: scroll;
    font-size: 18px;
}
#message-parent {
    display: flex;
    margin: -15px .5%;
    /* border: 1px solid black; */
    padding: 0;
}
.message-username {
    margin-right: 8px;
    font-weight: 600;
}
.blue {
    color: #0000FF
}
.red {
    color: #FF0000
}
form {
    display: flex;
    width: calc(100% - 6px);
    margin: auto 7px 8px auto;
    height: 15%;
}
form > textarea {
    background-color: whitesmoke;
    margin: auto;
    width: 73%;
    height: calc(100% - 20px);
    box-shadow: inset 2px 2px 1px #383735;
    font-size: 20px;
    padding: 10px;
}
.bold {
    font-weight: 600;
}
form > button {
    box-shadow: 2px 2px 1px #383735;
    width: 20%;
    height: 100%;
}
