#pim-message-component {
    display: flex;
    flex-direction: column;
    padding: 6px 0;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}
#messages {
    display: flex;
    background-color: whitesmoke;
    border: 1px solid black;
    box-shadow: 2px 2px 3px #383735, inset 2px 2px 3px #383735;
    margin: auto;
    height: 70%;
    width: 91%;
    padding: 6px;
}
#message-parent {
    display: flex;
    margin: 1%;
}
.message-username {
    margin-right: 8px;
    font-weight: 600;
}
.blue {
    color: #0000FF
}
.red {
    color: #FF0000
}
form {
    display: flex;
    width: 96%;
    margin: auto auto 0 auto;
    height: 20%;
}
form > input {
    background-color: whitesmoke;
    margin: auto;
    width: 75%;
    height: 80%;
    box-shadow: inset 2px 2px 1px #383735;
}
form > button {
    box-shadow: 2px 2px 1px #383735;
    width: 20%;
    height: 80%;
    margin: 3px 2px auto auto;
}
