#pim-message-component {
    display: flex;
    flex-direction: column;
    padding: 6px 0;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}
#message-parent {
    background-color: whitesmoke;
    border: 1px solid black;
    box-shadow: inset 1px 1px 1px #383735;
    margin: auto;
    width: 96%;
    padding: 6px;
}
form {
    display: flex;
    width: 96%;
    margin: auto;
    height: 20%;
}
form > input {
    background-color: whitesmoke;
    margin: auto;
    width: 75%;
    height: 80%;
    box-shadow: inset 2px 2px 1px #383735;
}
form > button {
    box-shadow: 2px 2px 1px #383735;
    width: 20%;
    height: 80%;
    margin: auto 2px auto auto;
}
