#pim-login-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
#pim-login-image {
    margin-top: 20px;
    width: 90%;
    max-width: 360px;
}
#line-border {
    margin-top: 12px;
    min-height: 5px;
    height: 5px;
    border-radius: 2px;
    width: 87%;
    box-shadow: inset 2px 2px 1px #2c2c2c, 2px 2px 1px whitesmoke;
}
#user-info-form {
    height: 100%;
    margin: 10px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-input-parents {
    display: flex;
    margin: 8px auto;
    align-items: center;
    justify-content: space-evenly;
    height: 2em;
    width: 90%;
}
.label {
    justify-self: flex-start;
    width: 50%;
}
input {
    border-top: 2px solid #2c2c2c;
    border-left: 2px solid #2c2c2c;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    box-shadow: 1px 1px 1px white, inset 1px 1px 1px black;
    height: 22px;
    width: 60%;
    font-weight: 600;
    font-size: 18px;
    text-indent: 3px;
}
#register-login-button-parent {
    height: 70px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto 1px 20px 1px;
}
#toggle-register-button, #submit-form-button {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    font-weight: 600;
    text-shadow: 1px -1px 1px white ;
}
#toggle-register-button > img, #submit-form-button > img {
    height: 100%;
    width: 100%;
}
#toggle-register-button {
    text-indent: -22px;
    margin-left: 2px;
}
#toggle-register-button, #submit-form-button {
    /* border: 1px solid black; */
    height: 90%;
}