body { 
    background-color: #008080;
    overflow: hidden;
}
#my-computer-shortcut-parent {
    /* border: 1px solid black; */
    width: fit-content;
    padding: 10px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#my-computer-shortcut-icon {
    height: 10vh;
}
#my-computer-shortcut-text {
    margin-top: 1.2vh;
    font-size: 2.2vh;
}